a {
  text-decoration: none;
}
.btn {
  color: white;
  background-color: #2196f3;
  cursor: pointer;
}
.footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
}
.site-nav-link {
  color: #212121;
}
.site-nav-link:hover,
.site-nav-address:hover {
  color: #2196f3;
  cursor: pointer;
}
.site-nav-address {
  color: #757575;
}
